.container {
  background-color: rgb(250 250 250);
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-basis: 800px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 10%;
}

.padding1rem {
  padding: 1rem;
}

.padding2rem {
  padding: 2rem;
}

.margin2rem {
  margin: 2rem;
}
