/* all pages start */

/* header start */
header {
  border-bottom: rgb(214 214 214) solid;
  border-width: 0.01rem;
}

img.logo {
  width: 120px;
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: gray;
}

a.button {
  background-color: rgb(5 17 44 / 80.1%);
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 0.2rem;
}

/* header end */

/* learn more start */

.row-learn-more {
  display: flex;
  align-items: center;
}

.sub-article-learn-more > h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(2 2 2);
}

.sub-article-learn-more > p {
  font-size: 0.8rem;
  color: rgb(95 93 93);
}

/* footer start */

footer > .row-main {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(34 38 39 / 80.1%);
  color: white;
  height: 360px;
  align-items: center;
}

img.logo-white {
  height: 20px;
  width: auto;
}

.footer-address > p {
  font-size: 0.75rem;
  line-height: 0.7rem;
}

.article-footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem 0 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links > p {
  margin: 0;
}

.footer-links > a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

footer > row-bottom {
  background-color: rgb(248 248 248);
}

.footer-bottom-links > a {
  text-decoration: none;
  color: gray;
  font-size: 0.75rem;
}

/* footer end */

/* index.html start */

/* index.html hero image start */

.article-hero {
  position: relative;
}

.hero-background {
  background-image: url("images/hero.jpg");
  background-size: cover;
  width: 850px;
  height: 400px;
  filter: brightness(75%);
  margin: 0 2rem;
}

.hero-text-container {
  position: absolute;
  top: 0;
  height: 400px;
}

.sub-article-hero {
  color: white;
  z-index: 1;
}

h1.sub-article-hero {
  letter-spacing: 0.02rem;
  font-size: 1.75rem;
  padding: 3rem 0 0 5rem;
}

p.sub-article-hero {
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 1rem 5rem;
  letter-spacing: 0.01rem;
}

button.hero {
  margin: 1rem 0 1rem 5rem;
  padding: 1rem;
}

/* index.html clinicians prefer canvas start */

.article-past-clients {
  background-color: rgb(248 248 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: gray;
  height: 360px;
}

.sub-article-past-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem;
}

.past-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

h2.prefer-canvas,
p.prefer-canvas {
  margin: 0.5rem;
  text-align: center;
}

p.prefer-canvas {
  font-size: 0.8rem;
}

button.get-started {
  background-color: rgb(5 17 44 / 80.1%);
  color: white;
  padding: 0.75rem 2.2rem;
  border: none;
  border-radius: 0.2rem;
}

button.learn-more {
  margin: 1rem 0 1rem 3rem;
}

/* product.html start */

/* product.html header start */

.product-header-background {
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: right 20% bottom 35%;
  width: 850px;
  height: 400px;
  filter: brightness(75%);
  margin: 0 2rem;
}

.product-hero-text-container {
  position: absolute;
  top: 0;
  height: 400px;
  color: white;
  padding: 4rem 1rem;
}

h1.sub-article-hero-product {
  letter-spacing: 0.02rem;
  font-size: 1.75rem;
  font-weight: lighter;
  padding: 3rem 0 0 3rem;
}

p.sub-article-hero-product {
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 1rem 3rem;
  letter-spacing: 0.01rem;
}

/* product.html body container start */

.article-product {
  display: flex;
  flex-direction: column;
}

.sub-article-product {
  display: flex;
  justify-content: space-evenly;
}

.product-img-container > img {
  width: 380px;
}

p.product-text {
  font-size: 0.8rem;
}

a.product-html-link {
  text-decoration: none;
  color: rgb(48 48 117);
  font-size: 0.8rem;
}

.product-gray-background {
  background-color: rgb(248 248 248);
}

h2.product-text {
  font-weight: lighter;
}

/* implementation.html start */

.implementation-header-background {
  background-image: url("images/implementation/implementation-header.jpg");
  background-size: cover;

  /* background-position: ; */
  width: 850px;
  height: 450px;
  filter: brightness(75%);
  margin: 0 2rem;
}

.roi-title {
  font-size: 0.9rem;
  font-weight: lighter;
}

.implementation-calculate-roi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roi-step-header-row {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.roi-step-header-row > h1 {
  font-family: Tiempos, serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: rgb(68 66 66);
}

.roi-step-header-row > p {
  font-family: Avenir, sans-serif;
  font-size: 1.1rem;
  padding-left: 0.8rem;
}

.roi-step-container {
  width: 65%;
  margin: 1rem 0;
}

.roi-step-text {
  font-family: Avenir, sans-serif;
  line-height: 1.25rem;
}

/* about-us.html start */

.about-us-header-background {
  background-image: url("images/about-us/about-us-header.jpg");
  background-size: cover;
  background-position: right 50% bottom 60%;
  width: 850px;
  height: 420px;
  filter: brightness(75%);
  margin: 0 2rem;
}

.about-us-hero-text-container {
  position: absolute;
  top: 0;
  height: 400px;
  color: white;
  padding: 4rem 0;
}

h1.sub-article-hero-about-us {
  letter-spacing: 0.02rem;
  font-size: 1.75rem;
  font-weight: lighter;
  padding: 3rem 0 0 3rem;
}

p.sub-article-hero-about-us {
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding: 1rem 3rem;
  letter-spacing: 0.01rem;
  width: 65%;
}

.what-we-believe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-believe-text-container > p {
  line-height: 1.5rem;
}

.about-us-html-link {
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.9rem;
  color: rgb(48 48 117);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team > h2 {
  color: rgb(43 42 42);
  font-family: Tiempos, serif;
  font-weight: 500;
  margin: 2rem 0 0;
}

.main-team-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.team-sub-container {
  display: flex;
  flex-wrap: wrap;
}

.person-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
}

.person-image-container {
  width: 10rem;
  height: auto;
}

.team-person-img {
  width: 10rem;
  height: auto;
  border-radius: 50%;
}

.person-name > h2 {
  font-family: Tiempos, serif;
  font-weight: 500;
  margin-bottom: 0;
  color: rgb(43 42 42);
}

.person-job-title > p {
  font-family: Avenir, sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

.clinical-advisory-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 4rem;
}

.clinical-advisory-board-container > h2 {
  font-family: Tiempos, serif;
  font-weight: 500;
  color: rgb(43 42 42);
}

.clinical-advisory-board-members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.clinical-advisory-board-members > p {
  flex-basis: 33%;
  font-family: Avenir, sans-serif;
  font-size: 0.75rem;
  text-align: center;
  padding: 0 0.6rem;
}

.our-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.our-story-text > h2 {
  letter-spacing: 0.02rem;
  font-size: 1.75rem;
  font-weight: lighter;
  padding: 1rem 0;
  text-align: center;
}

.our-story-text > p {
  font-family: Avenir, sans-serif;
  font-size: 0.9rem;
  padding: 0 0.6rem;
  line-height: 1.25rem;
}

/* blog.html start */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container > h2 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
}

.form-container > p {
  margin: 0 0 2rem;
}

.form-container > input {
  border-style: hidden hidden groove;
  width: 500px;
  font-size: 1.4rem;
  text-align: center;
  padding: 0 0 0.5rem;
  letter-spacing: 0;
  margin: 0 0 2rem;
}

.form-container > input::placeholder {
  color: rgb(212 209 209);
  opacity: 1;
}

.form-container > input:focus {
  outline: none;
}

.form-container > input:focus::placeholder {
  color: transparent;
}

button.subscribe {
  background-color: rgb(5 17 44 / 80.1%);
  color: white;
  padding: 0.75rem 2.2rem;
  border: none;
  border-radius: 0.2rem;
  margin: 1rem 0 2rem;
  font-size: 0.9rem;
}

.blog-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.blog-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

.blog-small-container {
  flex-basis: 50%;
  width: 300px;
}

.blog-small-container > img {
  width: 380px;
  height: 230px;
}

.blog-small-container > h2 {
  font-size: 1.6rem;
  margin: 0.8rem 0.2rem;
  width: 380px;
}

.blog-small-container > p {
  font-size: 0.9rem;
  margin: 0 0 2.5rem;
}

hr {
  border-top: 15px gray;
}

/* test */
